<mat-toolbar *ngIf="currentPlayer && !shouldDisplayRolePhase()">
  You are a {{currentPlayer.role | lowercase }}
</mat-toolbar>

<div class="phase-container">
  <role-phase [playerRole]="currentPlayer.role" (ackEmitter)="sendAck()" *ngIf="shouldDisplayRolePhase()"></role-phase>
  <day-phase *ngIf="shouldDisplayDayPhase()" [voting]="voting"
             (electedPlayersEmitter)="electPlayers($event)"></day-phase>
  <app-execution-phase *ngIf="shouldDisplayExecutionPhase()" [deadVillagers]="dyingPlayers"
                       (ackEmitter)="sendAck()"></app-execution-phase>
  <app-werewolf-phase *ngIf="shouldDisplayWerewolfPhase()" [voting]="voting"
                      (electedPlayersEmitter)="electPlayers($event)"></app-werewolf-phase>
  <app-night-fall-phase *ngIf="shouldDisplayNightfallPhase()" (ackEmitter)="sendAck()"></app-night-fall-phase>
  <app-wake-up-phase [deadVillagers]="dyingPlayers" (ackEmitter)="sendAck()"
                     *ngIf="shouldDisplayWakeUpPhase()"></app-wake-up-phase>
  <app-game-over *ngIf="shouldDisplayGameOver()" [roleThatWon]="winningRole"></app-game-over>
</div>
