<p *ngFor="let message of messages">

  {{message}}
</p>

<role-phase [playerRole]="playerRole" (ackEmitter)="sendAck()" *ngIf="shouldDisplayRolePhase()"></role-phase>
<day-phase *ngIf="shouldDisplayDayPhase()" [voting]="voting"></day-phase>
<app-werewolf-phase *ngIf="shouldDisplayWerewolfPhase()" [voting]="voting" (electedPlayersEmitter)="electPlayers($event)"></app-werewolf-phase>
<app-night-fall-phase *ngIf="shouldDisplayNightfallPhase()" (ackEmitter)="sendAck()"></app-night-fall-phase>
<app-wake-up-phase [deadVillagers]="dyingPlayers" (ackEmitter)="sendAck()">

</app-wake-up-phase>
