<div class="container">
  <div class="button-bar">
    <mat-form-field>
      <input matInput placeholder="Name your game" name="gameName" type="text" [(ngModel)]="gameName">
    </mat-form-field>
    <button mat-button (click)="createGame()" [disabled]="!gameName">Create Game</button>
    <span class="filler"></span>
    <button mat-icon-button (click)="fetchGames()">
      <mat-icon aria-label="refresh games">refresh</mat-icon>
    </button>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let game of games" [expanded]="game.name === joinedGame?.name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{game.name}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-player-list [game]="game"></app-player-list>
      <div class="button-bar">
        <button mat-button (click)="$event.stopPropagation(); joinGame(game)" [disabled]="alreadyJoined(game)">Join Game</button>
        <span class="filler"></span>
        <span class="warn" *ngIf="game.players.length<MIN_PLAYER_PER_GAME">min {{MIN_PLAYER_PER_GAME}} players</span>
        <span class="filler"></span>
        <button mat-button (click)="startGame(game)" [disabled]="game.players.length<MIN_PLAYER_PER_GAME">Start Game</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>

