label {
  font-weight: bold;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

button {
  margin-top: 25px;
  position: center;
  bottom: 1em;
  width: 95%;
}

div {
  padding-top: 1em;
}
