<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input [(ngModel)]="username"(keyup)="checkIfProfileExists()" matInput type="text" placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password"/>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="!profileExists">Login</button>
    <button mat-raised-button color="accent" [disabled]="profileExists || username.length == 0">Sign up</button>
  </mat-card-actions>
</mat-card>
