<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input [(ngModel)]="name" (keyup)="checkIfProfileExists()" matInput type="text" placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password" matInput type="password" placeholder="Password"/>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="!profileExists">Login</button>
    <button mat-raised-button color="accent"
            [disabled]="profileExists || name.length == 0 || password.length == 0"
            (click)="save()">Sign up
    </button>
  </mat-card-actions>
</mat-card>
