<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input id="name" type="text" placeholder="Name" matInput [(ngModel)]="profile.identity.name">
    </mat-form-field>

    <div id="picture_upload">
      <label for="singleFile">Upload picture</label>
      <br>
      <input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue"/>
      <br>

      <mat-file-upload-queue #fileUploadQueue
                             [fileAlias]="'file'"
                             [httpRequestParams]="{name: profile.identity.name}"
                             [httpUrl]="'http://localhost:8080/api/v1/profile/picture'">

        <mat-file-upload [file]="file" [id]="i"
                         *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
      </mat-file-upload-queue>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="saveProfile()">Save</button>
  </mat-card-actions>
</mat-card>
