<mat-card class="role-card">
  <mat-card-header>
    <mat-card-title>Night fall Phase</mat-card-title>
    <mat-card-subtitle>Go to sleep!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img style="width: 430px" mat-card-image src="../../../assets/gamecontent/phase_nightfall.jpg">
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="confirm()" color="accent" *ngIf="!confirmed">Confirm</button>
    <app-spinner *ngIf="confirmed"></app-spinner>
  </mat-card-actions>
</mat-card>
