/* You can add global styles to this file, and also import other style files */

@import "theme.scss";
@include mat-core();
@include angular-material-theme($werewolf-theme);

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/seamless.jpg");
  background-repeat: repeat;
  background-size: 20% 100%;
}


.container {
  margin: 2em;
}

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
