<mat-toolbar color="primary">
  <img src="assets/icon.png" alt="werewolf-icon" class="icon">
  <h1>Werwölfle</h1>
  <span class="filler"></span>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/lobby" mat-button>
    <mat-icon>home</mat-icon>
    Lobby
  </button>
  <button [hidden]="isLoggedIn()" type="button" mat-button *ngIf="loggedInProfile && loggedInProfile.identity.name" routerLink="/profile" >
    <mat-icon>account_circle</mat-icon>
    {{ loggedInProfile.identity.name }}
  </button>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/login" (click)="profileService.logout()" mat-button>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>
