.spinner-container {
  display: flex;
  align-items: center;
  padding: 1em;

  img {
    height: 3em;
    margin-right: 1em;
    -webkit-animation: shake 4s linear infinite;
    -moz-animation: shake 4s linear infinite;
    animation: shake 4s linear infinite;
  }

  @keyframes shake {
    30%, 90% {
      transform: rotate(10deg);
    }

    60% {
      transform:  rotate(-10deg);
    }
  }
}
